body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(176, 18, 197);
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #d9e0de(11, 168, 173);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: white;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus, select:focus {
    border-color: #3498db;
    outline: none;
}

.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 30px auto 0;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #29b99a;
}

.result {
    margin-top: 30px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.success {
    background-color: #49ce0c;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
}

/* Animation du gradient de fond */
body {
    height: _80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(270deg, #ff5f6d, #ffc371, #24c6dc, #514a9d);
    background-size: 800% 800%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}
